body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #111;
  color: #fff;
}

.page {
  padding: 2rem;
  min-height: 80vh;
}

input, button {
  padding: 10px;
  margin: 8px 0;
  width: 100%;
  max-width: 300px;
}

button {
  background: #1db954;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
}

button:hover {
  background: #1ed760;
}

.auth {
  padding: 2rem;
  max-width: 400px;
  margin: auto;
  text-align: center;
}
